<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>helloServlet</servlet-name>
        <servlet-class>com.dzmitry.servlets.HelloServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>helloServlet</servlet-name>
        <url-pattern>/redirect</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>redirectForServlet</servlet-name>
        <servlet-class>com.dzmitry.servlets.RedirectForServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>redirectForServlet</servlet-name>
        <url-pattern>/hello</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>nameServlet</servlet-name>
        <servlet-class>com.dzmitry.servlets.NameServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>nameServlet</servlet-name>
        <url-pattern>/names</url-pattern>
    </servlet-mapping>
    <error-page>
        <location>/WEB-INF/jsp/errorPage.jsp</location>
    </error-page>
</web-app>